body,
body * {
    /* margin: 0; */
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 4px #3335;
    background-color: #fff;
}

    header nav {
        display: inline-block;
        float: left;
    }
        header nav > a {
            display: inline-block;
            float: left;
            margin-left: 8px;
            margin-right: 12px;
            line-height: 40px;
            font-size: 20px;
            color: rgb(28, 140, 214);
            text-decoration: none;
        }
        header nav > a > .fa {
            padding-top: 10px;
            /* text-decoration: underline; */
        }

.container {
    margin-top: 90px;
}

    .container > .menu {
        display: inline-block;
        /* width: 100%; */
        margin-top: 30px;
        padding: 50px 0 50px 50px;  
        border: 5px solid rgb(77, 164, 221);
        border-radius: 15px;      
    }

        .container > .menu > .card {
            display: inline-block;
            float: left;
            width: 300px;
            margin-right: 50px;
            padding: 20px;    
            text-align: center;
            border: 2px solid #ccc;
            border-radius: 15px;
        }
            .card > i {
                display: inline-block;
                width: 80px;
                height: 80px;
                font-size: 50px;
                line-height: 80px;
                border: 1px solid #ccc;
                border-radius: 50%;
                color: rgb(77, 164, 221);
                overflow: hidden;     
            }

            .card > a {
                display: inline-block;
                width: 100%;
                margin: 20px 0;
                font-size: 25px;
                line-height: 20px;
                text-decoration: none;
                color: rgb(28, 140, 214);
                /* transition: all 0.4s ease 0s; */

            }

                .card > a:hover {        
                    color: rgb(87, 70, 240);
                }

            .card > p {
                display: inline-block;
                width: 100%;
                font-size: 16px;
                line-height: 20px;
                color: #777;
            }

body > h2 {
    margin-top: 90px;
}

table {  
    display: inline-block;
    width: 100vw;   
    border-collapse: collapse;
    max-width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    color: #333;
}

    /* td.iban {
        color: rgb(4, 130, 248);
    } */

th {
    color: #000;
}

tr:nth-child(even) {
    background-color: rgb(236, 233, 233);
}

button,
.btn {
    padding: 3px 10px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: none;
    background-color: rgb(77, 164, 221);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

    .btn > a {
        text-decoration: none;
        color: #fff;
    }
    
    button.list {
        display: inline-block;
        width: 100%;
        text-align: left;
    }

.fa {
    padding: 2px 6px 2px 0;
}

.fa.fa-plus-square,
.fa.fa-minus-square {
    color: #fff;
}

.fa.fa-trash {
    color: rgb(202, 113, 113);
}

.form {
    display: inline-block;
    width: 400px;
    padding: 10px 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(236, 233, 233);
}
    .form > h2 {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .form > h2.new {
        margin-top: 65px;
        margin-bottom: 0;
    }
    .form > .login {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 50%;
        text-align: center;
        color: rgb(28, 140, 214);
        background-color: #fff;
        position: relative;
    }
        .form > .login > .fa.fa-unlock-alt,
        .form > .login > .fa.fa-user-plus{
            font-size: 60px;            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .form > form > label{
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            color: #333;
            font-size: 18px;
            line-height: 20px;
            text-align: left;
        }
        .form > form > input {
            display: inline-block;
            width: 100%;
            padding: 0 5px;
            font-size: 18px;
            line-height: 30px;
            color: #333;
            border: none;
            border-bottom: 1px solid grey;
        }

    form > input {
        display: inline-block;
        padding: 0 5px;
        font-size: 16px;
        line-height: 25px;
        color: #333;
        border: none;
        border-bottom: 1px solid grey;
    }
